name: example
description: Example app demonstrating app_lang_selector package

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.0.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  app_lang_selector:
    path: ../
  easy_localization: ^3.0.7
  flutter_riverpod: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/localizations/
